//https://github.com/leandrowd/react-responsive-carousel/issues/354

.carousel.carousel-slider {
    overflow: inherit;
}

// .carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover{
//     background-color: transparent;
//     right: -146px;
// }

// .carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
//     background-color: transparent;
//     left: -146px;
// }

// .carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
    // opacity: 1;
    background-color: #a1a5b7 !important;
    padding: 1px !important;
    height: 40px !important;
}

.carousel .control-prev.control-arrow {
    left: 35%;
    position: inherit;
}

.carousel .control-next.control-arrow {
    right: 35%;
    position: absolute;
}

// .carousel .control-next.control-arrow:before {
//     content: '';
//     border: solid #0135AD;
//     border-width: 0 8px 8px 0;
//     display: inline-block;
//     padding: 14px;
//     transform: rotate(-45deg);
//     -webkit-transform: rotate(-45deg);
// }

// .carousel .control-prev.control-arrow:before {
//     content: '';
//     border: solid #0135AD;
//     border-width: 0 8px 8px 0;
//     display: inline-block;
//     padding: 14px;
//     transform: rotate(135deg);
//     -webkit-transform: rotate(135deg);
// }