@media (min-width: 1500px) {
  .okr-toggle {
    top: 79% !important;
  }
}
@media (min-width: 1700px) {
    .okr-toggle {
      top: 78% !important;
    }
  }

@media (min-width: 1500px) {
  .mgt-toggle {
    top: 86% !important;
  }
}
@media (min-width: 1700px) {
    .mgt-toggle {
      top: 85% !important;
    }
  }

  @media (min-width: 1500px) {
    .myresources-toggle {
      top: 86% !important;
    }
  }
  @media (min-width: 1700px) {
      .myresources-toggle {
        top: 85% !important;
      }
    }
  